body            { font-family: sans-serif; background: #eee; }
a               { color: red; }
h1, h2, h3      { color: black; font-family: 'Georgia', serif; margin: 0; }
h2              { font-size: 1.2em; }
h3              { margin-bottom: 10px}

table           { width: 100%; table-layout: fixed }

th, td  { 
    width: 50px; 
    padding: 1em; 
    padding-right: 10px; 
    word-wrap: break-word; 
    text-align: center 
}

table.my-issues {
    margin-top: 30px;
}

thead {
    background-color: red;
}

thead th {
    color:white;
    margin-top: 20px;
}


.site-header { 
    overflow:auto; 
    min-height: 10em;
    display: table-row;
    width: 100%;
}

.site-title      { display:table-cell; vertical-align: middle;}
.site-logo      { width: 3em; display:table-cell; vertical-align: middle; margin-right: 20px }
.page           { margin: 2em auto; width: 50em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; clear:both; border-top: 2px solid #eee; margin-top: 1em; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

a:link {text-decoration:none;}      /* unvisited link */
a:visited {text-decoration:none;}  /* visited link */
a:hover {text-decoration:underline;}  /* mouse over link */
a:active {text-decoration:none;}  /* selected link */