{% extends "layout.html" %}
{% block body %}

  <h2>New Issue</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('new_issue') }}" method="post">
    
    <p>
      <label for="type">Type of Issue:</label>
      <br/>
      <select name="type">
        <option value="missing_alt_text">Missing Alt Text</option>
        <option value="unhelpful_alt_text">Unhelpful Alt Text</option>
        <option value="other">Other</option>
      </select>
    </p>
    
    <p>
      <label for="page_url">Web Page URL:</label>
      <br/>
      <input type="text" name="page_url" value="{{issue['page_url']}}" />
    </p>
    
    <p>
      <label for="img_url">Image File URL:</label>
      <br/>
      <input type="text" name="img_url" value="{{issue['img_url']}}" />
    </p>

    <p>
      <label for="description">Detailed Description of Issue (optional):</label>
      <br/>
      <textarea rows="10" cols="40"  name="description">{{issue['description']}}</textarea>
    </p>

    <p>
      <label for="img_current_alt_text">Current Alternative Text of the Image (optional):</label>
      <br/>
      <textarea rows="10" cols="40" name="img_current_alt_text">{{issue['img_current_alt_text']}}</textarea>
    </p>
    
    <p>
      <label for="img_suggested_alt_text">Suggested Alternative Text of the Image (optional):</label>
      <br/>
      <textarea rows="10" cols="40"  name="img_suggested_alt_text">{{issue['img_suggested_alt_text']}}</textarea>
    </p>
    
    <p>
      <input type="submit" value="Report Issue" />
    </p>
  </form>

{% endblock %}