{% extends "layout.html" %}
{% block body %}

  <h2>Report Image with Insufficient Alternative Text</h2>
  <form action="{{ url_for('report') }}" method="post">
    <p>
      <label for="page_url">URL of the Web Page Containing the Image:</label>
      <br/>
      <input type="text" name="page_url" value="{{issue['page_url']}}" />
    </p>
    
    <p>
      <label for="img_url">URL of the Image File:</label>
      <br/>
      <input type="text" name="img_url" value="{{issue['img_url']}}" />
    </p>

    <p>
      <label for="img_current_alt_text">Current Alternative Text of the Image (optional):</label>
      <br/>
      <textarea name="img_current_alt_text">{{issue['img_current_alt_text']}}</textarea>
    </p>
    
    <p>
      <label for="img_suggested_alt_text">Suggested Alternative Text of the Image (optional):</label>
      <br/>
      <textarea name="img_suggested_alt_text">{{issue['img_suggested_alt_text']}}</textarea>
    </p>
    
    <p>
      <input type="submit" value="Report Image" />
    </p>
  </form>

{% endblock %}